language: python
virtualenv:
  system_site_packages: true
python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.5-dev"  # 3.5 development branch
  - "3.6"
  - "3.6-dev"  # 3.6 development branch
  - "3.7-dev"  # 3.7 development branch
  - "nightly"
install:
  - pip install .
  - pip install -r requirements.txt
script:
  - python ./tests/validate.py